<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
<!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
<!-- wp:group {"tagName":"main","className":"lg-store-main lg-cart","layout":{"type":"constrained"}} -->
<main class="wp-block-group lg-store-main lg-cart"><!-- wp:woocommerce/store-notices /--><!-- wp:post-title {"level":1,"align":"wide"} /--><!-- wp:post-content {"align":"wide"} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
